.content {
  display: flex;
  align-items: center;
  height: 100vh;
  max-width: 1400px;
  margin: 0 auto;

  &_car {
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &_text {
    max-width: 630px;
    font-size: 64px;
    font-weight: 700;
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

@media screen and (max-width: 1200px) {
  .content_text {
    font-size: 56px;
  }
  .content_car {
      width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .content_text {
    font-size: 48px;
    width: 40%;
  }
  .content_car {
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .content_text {
    font-size: 36px;
    width: 40%;
    margin-bottom: 100px;

  }
  .content_car {
    width: 80%;
    bottom: 100px;
  }
}

@media screen and (max-width: 576px) {
  .content_text {
    font-size: 36px;
    width: 50%;
    margin-bottom: 100px;
  }
  .content_car {
    width: 100%;
    bottom: -20px;
  }
}

@media screen and (max-width: 377px) {
  .content_text {
    font-size: 36px;
    width: 100%;

  }
  .content_car {
    bottom: 0;
  }
}


