.content {
  display: flex;
  padding: 0 103px;
  align-items: center;
  justify-content: end;
  height: 100vh;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;

  &_car {
    position: absolute;
    left: 0;
    z-index: -1;
  }

  &_text {
    max-width: 630px;
    font-size: 64px;
    font-weight: 700;
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
@media screen and (max-width: 768px) {
  .content_car {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .content {
      padding: 0 0 150px;
  }
  .content_car {
    display: none;
  }
}