@import url("variables.scss");
@font-face {
  font-family: 'PT-Astra-Sans';
  src: url('@/assets/fonts/PT-Astra-Sans_Regular.ttf');
}
*,
*::after,
*::before {
  box-sizing: inherit;
};

html {
  height: 100%;
  min-width: 375px;
};

body {
  background-color: var(--color-white);
  height: 100%;
  min-width: 375px;
  padding: 0;
  margin: 0;
};

body::-webkit-scrollbar {
  display: none; /* Скрывает полосу прокрутки в вебкит-браузерах */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
};

main {
  display: flex;
  flex-direction: column;
  flex: 1;
};

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: PT-Astra-Sans, sans-serif;
};

p, span, button {
  font-family: "PT-Astra-Sans", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  font-size: 14px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.primary-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--gradient-button);
  border-radius: 2px;
  color: var(--color-white);
  width: 100%;
}
.primary-red{
  background-color: var(--color-red);
  &:hover{
    background-color: #c7363b !important;
  }
}

.fake-antd-label {
  font-size: 14px;
  display: block;
  margin-bottom: 4px;
}
.ant-spin-nested-loading >div>.ant-spin .ant-spin-text{
  white-space: nowrap;
  transform: translate(-50%,50%);
  width: auto !important;
}
.ant-notification-notice-message{
  font-weight: 600 !important;
}
