:root {
  --color-white: #FFFFFF;
  --color-blue: #163E6C;
  --color-red: #D20A11;
  --color-yellow: #EBE6D6;
  --color-black: #212121;
  --color-grey: #9C9B99;
  --gradient-text: linear-gradient(90deg, #163E6C 15.61%, #D20A11 64.58%);
  --gradient-button: linear-gradient(90deg, #163E6C 50%, #D20A11 100%);
  --dust-red-6: #F5222D;
  --character-title-85: rgba(0, 0, 0, 0.85);
  --character-primary-inverse: #FFF;
}