.footer {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 38px 0;
  background-color: var(--color-black);
  position: relative;
  overflow: hidden;

  &_container {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: end;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  &_bg {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    fill: rgba(65, 65, 65, 0.15);
  }

  &_section {
    display: flex;
    align-items: center;
    gap: 6px;
    z-index: 0;
  }

  &_sotial {
    fill: var(--color-white);
    font-size: 14px;
    font-weight: 400;

  }

  &_number {
    color: var(--color-white);
  }

  &_name {
    color: var(--color-white);
    font-weight: 600;
    font-size: 24px;
  }
}


@media screen and (max-width: 768px) {
  .footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

