.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  gap: 32px;
  &_form {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    max-width: 541px;

    &_item {
      width: 100%;
    }

    &_input {
      width: 300px;
    }
  }

  &_text {
    max-width: 60%;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-black);
  }
}