.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
  padding: 64px 0;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  gap: 32px;

  &_form {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    max-width: 541px;

    &_item {
      width: 100%;
    }

    &_input {
      width: 300px;
    }
  }

  &_text {
    max-width: 60%;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-black);
  }
}

@media screen and (max-width: 1200px) {
  .content_text {
    font-size: 56px;
  }
}

@media screen and (max-width: 992px) {
  .content_text {
    font-size: 48px;
  }
}

@media screen and (max-width: 768px) {
  .content_text {
    font-size: 36px;
  }
}

@media screen and (max-width: 576px) {
  .content_text {
    font-size: 36px;
  }
}

@media screen and (max-width: 377px) {
  .content_text {
    font-size: 24px;
  }
}