.empty-table-wrapper{
  height: 50vh;
  width: 100%;
  position: relative;
  .empty-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #9C9B99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 32px;
  }
}