.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 8px 15px;
    .logo_wrapper{
        cursor: pointer;
    }

    &_section {
        display: flex;
        align-items: center;
        gap: 32px;
        height: 100%;


        &_info {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        &_sotial {
            fill: var(--color-blue);
        }
    }
}
.logo_adaptive{
    cursor: pointer;
    display: none;
}
.admin_text{
    display: block;
}
.auth_button {
    box-shadow: 0 0 0 0;
    border: 0;
    height: 100%;
    max-width: 136px;

    &_content {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
    }


    &_icon {
        font-size: 24px;
        color: var(--color-blue);
    }

    &_role {
        color: var(--color-grey);
        font-size: 10px;
    }

    &_name {
        color: var(--color-black);
        font-size: 14px;
    }

    &_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_focus {
        position: absolute;
        opacity: 0;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &:hover {
        .auth_button_focus {
            position: relative;
            opacity: 1;
        }

        .auth_button_content {
            position: absolute;
            opacity: 0;
        }
    }
}

.admin_button{
    border: 0;
    box-shadow: 0 0 0 0;

    &_icon{
        font-size: 21px;
    }
}

.admin_button:hover {
    border: 1px solid black;
}


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .header_section_sotial{
        display: none;
    }
    .header_section_number{
        display: none;
    }
    .auth_button_icon{

    }
    .auth_button_role{

    }
    .auth_button_name{

    }
}

@media screen and (max-width: 768px) {
    .header_section{
        gap: 0;
    }
    .logo_adaptive{
        display: block;
    }
    .logo_wrapper{
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .admin_text{
        font-size: 0;
    }
}

