.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 32px;
  border-radius: 15px;
  background: var(--color-white);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);

  &_item {
      width: 100%;
  }

  &_title {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-black);
  }
}
.form_wrapper{
  width: 50%;
}

@media screen and (max-width: 992px) {
  .form_wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .form_wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {

  .form_wrapper {
    width: 100%;
  }
}