.modal-spinner-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  padding: 25px 0;
}
.close-button{
  display: none;
}

.reference_form{
  display: flex;
  flex-direction: column;
  height: 200px;

  &_row {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }



  &_item {
      height: 300px;
  }
  &_textarea {
    height: 300px;
  }
}
